{{> Header }}
<div class="container-fluid">
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="card-title">About</div>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At dolores fugiat earum molestias voluptatem
              soluta non aperiam officia! Modi tempore ipsum nesciunt porro architecto aperiam nemo reiciendis, vel
              quidem blanditiis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> Footer }}
<script src="/assets/js/main.js"></script>
</body>
</html>